name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - name: Build check
        run: RUSTFLAGS='-D warnings' cargo check
      - name: Clippy
        run: cargo clippy -- -D warnings

  test:

    runs-on: ubuntu-latest
    needs: build
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@cargo-nextest
      - name: Run tests with coverage
        env:
          RUSTFLAGS: '-C target-cpu=x86-64-v3'
        run: |
          set -euxo pipefail
          source <(cargo llvm-cov show-env --export-prefix)
          cargo llvm-cov clean
          result=0
          cargo nextest run --no-fail-fast || result=$?
          cargo test  --doc --no-fail-fast || result=$?
          cargo llvm-cov report --cobertura --output-path ./codecov.xml || result=$?
          mv target/nextest/default/test-results.xml ./test-results.xml
          exit $result
      - name: "Upload test results"
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports
          path: test-results.xml
      - name: "Generate code coverage report"
        uses: clearlyip/code-coverage-report-action@v6
        if: always()
        id: "code_coverage_report"
        with:
          artifact_download_workflow_names: "Rust"
          artifact_name: coverage-%name%
          filename: codecov.xml
          overall_coverage_fail_threshold: 97
          only_list_changed_files: ${{ github.event_name == 'pull_request' }}
          fail_on_negative_difference: true
          negative_difference_by: "overall"
          negative_difference_threshold: 1
      - name: "Upload code coverage report"
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: codecov-reports
          path: code-coverage-results.md
      - name: Post summary to PR
        uses: actions/github-script@v8
        if: always() && github.event_name == 'pull_request'
        with:
          script: |
            const fs = require('fs');
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: fs.readFileSync('code-coverage-results.md', 'utf8'),
            })

  bench:

    runs-on: ubuntu-latest
    needs: build
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 2
      - uses: taiki-e/install-action@v2
        with:
          tool: gungraun-runner
      - name: Install Valgrind
        run: sudo snap install valgrind --classic
      - uses: Swatinem/rust-cache@v2
      - run: git checkout HEAD^
      - name: Bench (baseline)
        run: cargo bench
        env:
          RUSTFLAGS: '-C target-cpu=x86-64-v3'
      - run: git checkout HEAD@{1}
      - name: Bench (reference)
        run: |
          cargo bench -- --output-format=json |
          jq -s > bench-results.json
        env:
          RUSTFLAGS: '-C target-cpu=x86-64-v3'
      - name: Render to markdown
        if: always()
        run: |
          python3 .github/workflows/bench-summary.py < bench-results.json |
          tee bench-results.md "$GITHUB_STEP_SUMMARY"
      - name: Post summary to PR
        uses: actions/github-script@v8
        if: always() && github.event_name == 'pull_request'
        with:
          script: |
            const fs = require('fs');
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: fs.readFileSync('bench-results.md', 'utf8'),
            })
